body{
  background-color: #B22222;
}

.titolo{
  text-align: center;
  font-weight: 800;
  color: white;
}
.titolo h1{
  margin-bottom: 0px;
}
.riquadrouno{
  margin-top:50px;
  height: 250px;
  width: auto;
  background-color: white;
  border-radius: 10px;

}

.giu{
  padding-top:20px;
  padding-bottom:20px;
}
.riquadrodue{
  display: none;
  margin-top:10px;
  height: 230px;
  width: auto;
  background-color: white;
}
#biglietto{
  font-size:25px;
  background-color: white;

}
.datipasseggero{
  border:1px solid black;
  margin-top:2%;
  height: 160px;
  background-color: grey;
}
.offerta{
  margin-top:2%;
  height: 160px;
}
.testo h1{
  font-size: 20px;
}
.carrozza{
  margin-top:2%;
  height: 160px;
}
.codice{
  margin-top:2%;

  height: 160px;
}
.costo{
  margin-top:2%;
  height: 160px;
}
.prova{
  height: 150px;
  width: 100%;
  color: #B22222;
  display: inline-block;
}
.provauno{
  height: 100px;
  width: 100%;
  text-align: center;
}
.nomecognome{
  height: 100%;
text-align:center;

}

.km{
  height: 100%;
  text-align:center;
}
.eta{
  height: 100%;
  text-align:center;
}
.bottone{
  margin-top:40px;
  margin-left:20px;
  border-radius: 10px;
  background-color: grey;
  color: #B22222;
  height:42px;
  width: 80px;
}
#km{
  border:1px solid #B22222;
}
#eta{
  border:1px solid #B22222;
}
#nomecognome{
  border:1px solid #B22222;
}
